@model Webbanhang.Models.LOAI

@{
    ViewBag.Title = "Xóa loại";
    Layout = "~/Views/Shared/_LayoutPAdmin.cshtml";
}
<div class="container">
    <h2>XÁC NHẬN XÓA LOẠI</h2><br />

    <h3>Bạn muốn xóa loại này không?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TenLoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenLoai)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-default" /> |
                @Html.ActionLink("TRỞ VỀ", "LOAI")
            </div>
        }
    </div>
</div>